* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background-color: #3ec7c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  height: 57px;
}

.logo {
  margin-top: 50px;
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav a.active {
  text-decoration: underline;
}


main {
  text-align: center;
  padding: 40px 20px;
}

.buttons {
  margin: 20px 0;
}

.buttons button {
  background-color: #ff914d;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.agenda-box {
  background-color: #cdcdcd6b;
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.pet-agenda {
  margin-bottom: 20px;
  text-align: left;
}

.pet-agenda label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.pet-agenda input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

footer {
  background-color: #3cc3c9;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}


@media (max-width: 900px) {
  header {
    padding: 10px 20px;
  }

  .logo {
    margin-top: 20px;
  }

  .buttons button {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  nav {
    justify-content: center;
  }

  main {
    padding: 20px;
  }

  .agenda-box {
    max-width: 90%;
    padding: 20px;
  }

  footer {
    position:fixed;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  nav {
    gap: 10px;
  }

  .buttons button {
    width: 100%;
    margin: 10px 0;
  }

  .agenda-box {
    padding: 15px;
  }
}
